<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="d-flex navbar">
        <a class="navbar-logo" href="#">
            <img src="/assets/images/Logo.png" alt="logo" style="max-height: 50px;">
        </a>
        <ul class=" nav-list d-flex me-auto m-2">
            <li class="nav-item m-2">
                <a class="nav-link" routerLink="/" href="#">Home</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" routerLink="/test-error" href="#">Error</a>
            </li>
        </ul>
    </div>
    <div class="users">
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <a class="m-2 text-dark" routerLink="/account/login">Login</a>
            <a class="m-2 text-dark" routerLink="/account/register">Sign in</a>
        </ng-container>

        <ng-container *ngIf="accountService.currentUser$ | async as user">
            <div class="dropdown ms-3 me-5" style="cursor:pointer;" dropdown>
                <a dropdownToggle class="dropdown-toggle">
                    <strong>
                        Welcome Dr {{user.displayName}}
                    </strong>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a routerLink="/patients" class="dropdown-item">
                            <mat-icon>personal_injuryrson</mat-icon>
                            <span>User</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/patients" class="dropdown-item">
                            <mat-icon>person</mat-icon>
                            <span>Patients</span>
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a (click)="accountService.logout()" class="dropdown-item">
                            <mat-icon>logout</mat-icon>
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-side-bars [collapsed]="collapsed()" />
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>