
// /* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

// /* Importing Datepicker SCSS file. */
// @import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


html, body { height: 100%; }
html, body { 
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

// font-family: 'montserrat', sans-serif;

h1,h2,h3,h4, p, a, span, select, option, button, div, tr, th{
    font-family: 'montserrat', sans-serif;
}

tr {
    font-weight: 400;
}
th {
    font-weight: 500;
}

strong {
    font-weight: 500;
}