.container-fluid {
    background-color: #E9EEFC;

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .back {

            i {
                font-size: 35px;
                color: #303D50;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: #6985af;
                    padding: 5px;
                }
            }
        }

        .delete {
            button {
                border: none;
                background-color: #E40B0B;
                color: #fff;
                padding: 8px 20px;
                border-radius: 8px;
            }
        }
    }

    .content {

        .patient {
            padding: 20px;

            .card {
                border: none;
                padding: 10px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.180);
                }

                .header {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 25px;
                        font-weight: 400;
                    }

                    button {
                        border: none;
                        background-color: #ACE40B;
                        color: #fff;
                        padding: 5px 20px;
                        border-radius: 8px;
                    }
                }

                .body {
                    display: flex;

                    .contact {
                        margin-left: 100px;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
        }

        .modules {
            columns: 3;
            column-gap: 10px;

            @media (max-width: 1700px) {
                columns: 2;
            }

            @media (max-width: 1150px) {
                columns: 1;
            }

            .module {
                break-inside: avoid;
            }


            .module {
                padding: 20px;
                transition: 0.2s;

                .card {
                    border: none;
                    padding: 10px;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.180);
                    }

                    .header {
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-size: 25px;
                        }

                        .view {
                            button {
                                border: none;
                                background-color: #ACE40B;
                                color: #fff;
                                padding: 5px 20px;
                                border-radius: 8px;

                                &:hover {
                                    background-color: #a5d31b;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}