<div class="content">

  <div class="action">
    <div class="back">
      <i routerLink="/patients/{{patientId}}/bloodTests" class="bi bi-arrow-left"></i>
    </div>
    <div class="options">
      <button class="delete">Delete</button>
      <button class="update">Update</button>
    </div>
  </div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Blood Tests Details</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="bloodTest">
      <p><strong>Patient Name:</strong> {{ patientName }}</p>
      <p><strong>Fecha:</strong> {{ bloodTest.date | date }}</p>
      <p><strong>Hemoglobin:</strong> {{bloodTest.hemoglobin}}</p>
      <p><strong>Hematocrit:</strong> {{bloodTest.hematocrit}}</p>
      <p><strong>White Blood Cell:</strong> {{bloodTest.whiteBloodCell}}</p>
      <p><strong>Glucose:</strong> {{bloodTest.glucose}}</p>
      <p><strong>Cholesterol HDL:</strong> {{bloodTest.cholesterolHDL}}</p>
      <p><strong>Cholesterol LDL:</strong> {{bloodTest.cholesterolLDL}}</p>
      <p><strong>Triglycerides:</strong> {{bloodTest.triglycerides}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>