<div class="section">

    <div class="action">
        <div class="back">
            <i routerLink="/appointments" class="bi bi-arrow-left"></i>
        </div>
        <div class="delete">
            <button class="">Delete</button>
        </div>
    </div>

    <div class="content" *ngIf="appointment">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-subtitle>Patient</mat-card-subtitle>
                <mat-card-title>{{appointment.patient}}</mat-card-title>
            </mat-card-header>

            <div class="box">

                <mat-card-content>
                    <div class="box">
                        <mat-card-subtitle>Date</mat-card-subtitle>
                        <p> {{appointment.date | date}}</p>

                        <mat-card-subtitle>Time</mat-card-subtitle>
                        <p>{{appointment.time}}</p>

                        <mat-card-subtitle>Description</mat-card-subtitle>
                        <p>{{appointment.description}}</p>

                        <mat-card-subtitle>Status</mat-card-subtitle>
                        <div class="status">
                            <p [class]="getStatusClass(appointment.appointmentStatus)">
                                {{appointment.appointmentStatus}}
                            </p>
                        </div>
                    </div>

                </mat-card-content>

            </div>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <button class="update">Update</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>