.section {
    background-color: #f5f5f5;
    padding: 10px;

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .back {

            i {
                font-size: 35px;
                color: #303D50;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: #6985af;
                    padding: 5px;
                }
            }
        }

        .delete {
            button {
                border: none;
                background-color: #E40B0B;
                color: #fff;
                padding: 8px 20px;
                border-radius: 8px;
            }
        }
    }

    .content {

        .patient {
            padding: 20px;

            .card {
                border: none;
                padding: 10px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.180);
                }

                .header {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                    }

                    button {
                        border: none;
                        background-color: #ACE40B;
                        color: #fff;
                        padding: 8px 20px;
                        border-radius: 8px;
                    }
                }

                .body {
                    margin-top: 10px;
                    // p {
                    //     font-size: 16px;
                    //     font-weight: 300;
                    // }
                }
            }
        }
    }
}

select {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    appearance: none;
    cursor: pointer;
}