<div class="content">
    <div class="treatment">
        <div class="action">
            <div class="back">
                <i routerLink="/patients/{{patientId}}/treatments" class="bi bi-arrow-left"></i>
            </div>
            <div class="options">
                <button class="delete">Delete</button>
                <button class="update">Update</button>
            </div>
        </div>

        <div *ngIf="treatment">
            <h2>Treatment details</h2>
            <p><strong>Patient Name: </strong> {{patientName}}</p>
            <p><strong>Date: </strong>{{treatment.date | date}}</p>
            <p><strong>Medication: </strong>{{treatment.medication}}</p>
            <p><strong>Dosage: </strong>{{treatment.dosage}}</p>
            <p><strong>Instructions: </strong>{{treatment.instructions}}</p>
            <p><strong>Other Treatments: </strong>{{treatment.otherTreatments}}</p>
            <p><strong>Side Effects: </strong>{{treatment.sideEffects}}</p>
            <p><strong>Treatment Monitoring: </strong>{{treatment.treatmentMonitoring}}</p>
        </div>
    </div>
</div>