.sidebar {
    color: #fff;
    width: 190px;
    height: 100vh;

    flex-shrink: 0;
    overflow-y: auto;

}

.logo {
    padding: 10px;

}

.nav-link {
    color: #787878;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: 10px;
    border-radius: 10px;


    .box {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 25px;
            color: #8F93AB;
            display: flex;
            align-items: center;
            padding: 5px;
            margin-top: 5px;
            width: 100%;
            border-radius: 10px;

            &:hover {
                background-color: #60D7E8;
                color: #fff;
            }

            span {
                // font-family: 'montserrat', sans-serif;
                font-weight: 400;
                font-size: 15px;
                margin-left: 10px;
            }
        }
    }

    .logout {
        i {
            font-size: 25px;
            color: #8F93AB;
            display: flex;
            align-items: center;

            &:hover {
                color: #bdbdbd;
            }

            span {
                font-family: 'montserrat', sans-serif;
                font-weight: 400;
                font-size: 15px;
                margin-left: 10px;
            }
        }
    }


}