.content {
    padding: 25px;

    .action {
        margin-bottom: 10px;

        .back {
            i {
                font-size: 30px;
                color: #303D50;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: #6985af;
                    padding: 5px;
                }
            }
        }
    }

    .table-wrapper {
        overflow-X: scroll;

        table {
            border-collapse: separate;
            border-spacing: 0px;
            min-width: max-content;
        }

        table.table-hover {
            thead th {
                position: sticky;
            }

            tbody tr:hover {
                background-color: #f3f3f3;
                cursor: pointer;
            }
        }
    }
}