
<div class="content">
  <div class="appointments">
    <div class="action">
      <div class="back">
        <i routerLink="/patients/{{patientId}}/appointments" class="bi bi-arrow-left"></i>
      </div>
      <div class="options">
        <button class="delete">Delete</button>
        <button class="update">Update</button>
      </div>
    </div>
    <div *ngIf="appointment">
      <h2>Appointment Details</h2>
      <p><strong>Patient Name:</strong> {{ patientName }}</p>
      <p><strong>Fecha:</strong> {{ appointment.date | date }}</p>
      <p><strong>Hora:</strong> {{ appointment.time }}</p>
      <p><strong>Descripción:</strong> {{ appointment.description }}</p>
    </div>

  </div>
</div>