
// img {
//     border-radius: 68% 32% 63% 37% / 35% 51% 49% 65%;
//     margin-top: 200px;
//     width: 550px;
//     height: 422px;
// }


.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .main-content {
    padding: 15px;
  }
  
  /* Customize your styles here */
  