<div class="content">
    <div class="action">
        <div class="back">
            <i routerLink="/patients/{{patientId}}/diagnostics" class="bi bi-arrow-left"></i>
        </div>
        <div class="options">
            <button class="delete">Delete</button>
            <button class="update">Update</button>
        </div>
    </div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Diagnostic Details</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="diagnostic">
            <mat-card-subtitle>Patient Name</mat-card-subtitle>
            <p>{{ patientName }}</p>
            <mat-card-subtitle>Date</mat-card-subtitle>
            <p>{{diagnostic.date | date}}</p>
            <mat-card-subtitle>Condition Name</mat-card-subtitle>
            <p>{{diagnostic.conditionName}}</p>
            <mat-card-subtitle>Description</mat-card-subtitle>
            <p>{{diagnostic.description}}</p>
            <mat-card-subtitle>Classification Condition</mat-card-subtitle>
            <p>{{diagnostic.classificationCondition}}</p>
            <mat-card-subtitle>Severity</mat-card-subtitle>
            <p>{{diagnostic.severity}}</p>
            <mat-card-subtitle>Risk Assessment</mat-card-subtitle>
            <p>{{diagnostic.riskAssessment}}</p>
            <mat-divider />
            <mat-card-subtitle style="margin-top: 10px;">Conclusions</mat-card-subtitle>
            <p>{{diagnostic.conclusions}}</p>
        </mat-card-content>
    </mat-card>
</div>