.date-picker {
    display: flex;
    align-items: center;

    @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
      }
    button {
        font-size: 20px;
        transition: 0.2s;
        background-color: #fff;
        color: #525252;
        border: none;
        border-radius: 10px;

        &:hover {
            font-size: 23px;
            color: #323232;
        }
    }

    span {
        font-size: 17px;
    }
}