<pagination *ngIf="totalCount && pageSize"
      [boundaryLinks]="true" 
      [totalItems]="totalCount"
      [itemsPerPage]="pageSize"
      [maxSize]="10"
      (pageChanged)="onPaginationChanged($event)" 
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;"
      class="pagination"
>
</pagination>

<!-- <mat-paginator
  *ngIf="totalCount && pageSize"
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 25, 50, 100]"
  (page)="onPaginationChanged($event)"
  showFirstLastButtons
  previousPageLabel="&lsaquo;"
  nextPageLabel="&rsaquo;"
  firstPageLabel="&laquo;"
  lastPageLabel="&raquo;"
>
</mat-paginator> -->
