<app-nav-bar-docheader></app-nav-bar-docheader>
<hr style="margin-top: -3px;">

<div class="content">
    <div class="disease-history">
        <div class="action">
            <div class="back">
                <i routerLink="/patients/{{patientId}}/diseaseshistory" class="bi bi-arrow-left"></i>
            </div>
            <div class="options">
                <button class="delete">Delete</button>
                <button class="update">Update</button>
            </div>
        </div>

        <div *ngIf="diseaseHistory">
            <h2>Disease History Details</h2>
            <p><strong>Patient Name: </strong>{{patientName}}</p>
            <p><strong>Start Date: </strong>{{diseaseHistory.description}}</p>
            <p><strong>Description: </strong>{{diseaseHistory.description}}</p>
            <p><strong>Treatment: </strong>{{diseaseHistory.treatment}}</p>
        </div>
    </div>
</div>