<mat-card class="card" *ngIf="patient" routerLink="/patients/{{patient.id}}">
    <mat-card-header>
        <mat-card-title>
            <h2>{{patient.patientName}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Identification carnet: {{patient.carnetIdentification}}</p>
        <p>Social security: {{patient.socialSecurity}}</p>
        <p>Phone: {{patient.phone}}</p>
        <p>Date of birth: {{patient.dob | date}}</p>
        <p>Age: {{calculateAge(patient.dob)}}</p>
        <mat-divider />
    </mat-card-content>
</mat-card>