

mat-card {
    // border: none;

    &:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.180);
    }

    mat-card-subtitle {
        margin-left: 8px;
    }
    h2 {
        font-weight: 400;
    }
}