<div class="cards" *ngIf="patient">
    <div class="header">
        <h2 routerLink="/patient/{{patient.id}}">{{patient.patientName}}</h2>
    </div>
    <div class="body">
        <p>Identification carnet: {{patient.carnetIdentification}}</p> 
        <p>Social security: {{patient.socialSecurity}}</p> 
        <p>Phone: {{patient.phone}}</p> 
        <p>Date of birth: {{patient.dob | date}}</p> 
        <p>Age: {{calculateAge(patient.dob)}}</p> 
        <button routerLink="/patients/{{patient.id}}">view</button>
    </div>
</div>