<div class="content-main">

    <div class="header">
        <div class="title">
            <h1>Appointments</h1>
        </div>

        <div class="box filtering">
            <app-paging-header [totalCount]="totalCount" [pageNumber]="appointmentParams.pageNumber"
                [pageSize]="appointmentParams.pageSize"></app-paging-header>

            <div class="box-search">
                <div class="select">
                    <select (change)="onSortSelected($event)">
                        <option *ngFor="let sort of sortOptions" [value]="sort.value">
                            {{sort.name}}
                        </option>
                    </select>
                    <button (click)="togglePopup()" class="filter bi bi-filter p-2">Filter</button>
                </div>

                <div class="search">
                    <input (keyup.enter)="onSearch()" type="text" class="" #search>
                    <button (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>
        <div class="date-picker-container">
            <app-date-picker (dateSelected)="onDateSelected($event)"></app-date-picker>
        </div>
    </div>

    <div class="cards-box">
        <div class="card-box" *ngFor="let appointment of appointments">
            <app-appointment-item [appointment]="appointment"></app-appointment-item>
        </div>
    </div>
    <div class="pagination" *ngIf="totalCount > 0">
        <app-pagination [totalCount]="totalCount" [pageSize]="appointmentParams.pageSize"
            (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>

</div>

<div *ngIf="showPopup" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="stopPropagation($event)">
        <div class="box">
            <h5 class="">Status</h5>
            <ul class="">
                <li class="" *ngFor="let appointmentsStatus of appointmentsStatuses">
                    <input type="checkbox" [checked]="appointmentsStatus.id === appointmentParams.appointmentStatusId"
                        [value]="appointmentsStatus.id" (change)="onAppointmentStatusSelected(appointmentsStatus.id)">
                    {{ appointmentsStatus.appointmentStatusName }}
                </li>
            </ul>
        </div>
    </div>
</div>