<!-- <app-nav-bar></app-nav-bar> -->

<div class="home">
    <p>home-page works!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo id cumque eligendi iste provident reiciendis nostrum praesentium asperiores ducimus tenetur molestiae, eaque laboriosam. Doloribus excepturi commodi ut fuga odit?</p>
</div>
