<div class="content-main">

  <div class="header">

    <div class="patient">
      <h1>Patients</h1>
    </div>

    <div class="box">
      <app-paging-header [totalCount]="totalCount" [pageNumber]="patientParams.pageNumber"
        [pageSize]="patientParams.pageSize"></app-paging-header>

      <div class="box-search">
        <div class="select">
          <select class="select" (change)="onSortSelected($event)">
            <option *ngFor="let sort of sortOptions" [value]="sort.value">
              {{sort.name}}
            </option>
          </select>
        </div>

        <div class="search">
          <input (keyup.enter)="onSearch()" type="text" class="" #search>
          <button class="" (click)="onSearch()">Search</button>
          <!-- <a class="p-2" routerLink="/admin-patient/create" routerLinkActive="active">Admin</a> -->
          <button [routerLink]="['/patients/create']">Create</button>

          <!-- <button class="btn reset" (click)="onReset()">Reset</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="cards-box">
    <div class="card-box" *ngFor="let patient of patients">
      <app-patient-item [patient]="patient"></app-patient-item>
    </div>
  </div>

  <div class="pagination" *ngIf="totalCount > 0">
    <app-pagination [totalCount]="totalCount" [pageSize]="patientParams.pageSize"
      (pageChanged)="onPageChanged($event)"></app-pagination>
  </div>
</div>