<!-- <header class="navbar rounded border-bottom fixed-top shadow-sm">
    <div class="container-fluid">
        <div class="d-flex navbar">
            <a class="navbar-brand" href="#">
                <img src="/assets/Icons/logo_page_black.png" alt="logo" style="max-height: 80px;">
            </a>
            <ul class="d-flex navbar me-auto m-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="users">
            <a href="#" class="m-2 text-dark">Login</a>
            <a href="#" class="m-2 text-dark">Sign in</a>
        </div>
    </div>
</header> -->

<!-- <img src="/assets/Icons/logo_page_black.png" alt="logo" style="max-height: 90px;"> -->

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Company name</a>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
        aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
        <svg class="bi">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="bi">
          <use xlink:href="#list"></use>
        </svg>
      </button>
    </li>
  </ul>

  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>