<header class="navbar rounded border-bottom fixed-top shadow-sm">
    <div class="container-fluid">
        <div class="d-flex navbar">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/Logo.png" alt="logo" style="max-height: 50px;">
            </a>
            <ul class="d-flex navbar me-auto m-2">
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="users">
            <a href="#" class="m-2 text-dark" routerLink="/patients">Login</a>
            <a href="#" class="m-2 text-dark">Sign in</a>
        </div>
    </div>
</header>
